{% extends 'base.html' %}
{% block content %}
<h1>Your Todos</h1>
<a href="{% url 'create_todo' %}" class="btn btn-success mb-3">+ Add New Todo</a>
{% for todo in todos %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">{{ todo.description }}</p>
            <a href="{% url 'todo_detail' todo.id %}" class="btn btn-primary">View</a>
            <a href="{% url 'delete_todo' todo.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
